body{
    background-color: white;
    font: 14px Helvetica,Tahoma,Arial,Sans,Sans-serif;
    padding: 0px;
}

table {
    border-collapse: collapse;
    text-align: center;
}

td {
    padding: 2px;
    border: 1px solid black;
}
