body{
    background-color: white;
    font: 14px Helvetica,Tahoma,Arial,Sans,Sans-serif;
    padding: 0px;
}

#map_canvas {
}

#legend {
    background-color: black;
    position: fixed;
    width: 240px;
    height: 160px;
    top: 0px;
    left: 820px;
    color: white;
    padding: 16px;
    font-weight: bold;
    line-height: 200%;
}
