<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" href="static/pachelbel.css" rel="stylesheet" />

        <script type="text/javascript" src="static/jquery.min.js"></script>
        <script type="text/javascript" src="static/paper.js"></script>

        <script type="text/javascript" src="static/pachelbel_draw.js"></script>
        <script type="text/javascript" src="static/pachelbel.js"></script>

    </head>
    <body>
        <canvas id="map_canvas" resize="false" keepalive="true"></canvas>
    </body>
</html>
